*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #b4a99f;
}

header {
  position: relative;
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px; */
  border-bottom: solid 1px #0e0d10e3;
}

h1 {
  /* border: solid 1px red; */
  position: absolute;
  color: #5D5C61;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  letter-spacing: 5px;
}

.navbar i{
  color: #5D5C61;
}

.navbar span{
  font-size: 15px;
}

nav {
  display: inline-block;
}

.top-nav .dropdown-menu {
  background-color: #0e0d10e3;
}

.top-nav a {
  color: #EDECF4;
  text-decoration: underline;
  padding-bottom: 3px;
}

.sign-in {
  position: absolute;
  /* border: 2px solid red; */
  top: 50%;
  right: 0%;
  transform: translateY(-50%) translateX(-50%);
  color: #5D5C61;
}

.sign-in a{
  color: #5D5C61;
  text-decoration: none;
}
.sign-in a:hover{
  color: #f78717c2;
}

/* main */
.container{
  margin-bottom: 50px;
  height: min(600px, 800px);
}

.card-body {
  background-color: #b4a99f;
  border: 2px solid #0e0d10df;
}
.card{
  border: none;
}

h2 {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 30px;
}


/* Footer */

footer{
  /* border: dashed 2px red; */
  display: flex;
  padding: 20px 70px;
  background-color: #0e0d10df;
  color: #EDECF4;
}

.box-1{
  /* border: solid 2px pink; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-1 h4 {
  /* border: dashed 2px red; */
  letter-spacing: 5px;
  padding: 10px;
  flex: 1;
}

.fnav{
  display: flex;
  flex: 1;
}

.fnav h6{
  margin-bottom: 15px;
}

.fnav a{
  text-decoration: underline;
  color: #EDECF4;
}

.fnav ul {
  list-style: none;
  padding-left: 0;
}

.fnav .fnav-1{
  flex: 1;
}

.fnav .fnav-2{
  flex: 1;
}

.box-2{
  /* border: solid 2px orange; */
  flex: 1;
}
.box-2 h3{
  border-bottom: solid 2px white;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 50px;
  
}
.box-2 span {
  color: #0e0d10df;
  text-shadow: white 1px 1px, white 1px -1px, white -1px 1px, white -1px -1px;
}

.info {
  border-bottom: solid 2px white;
  padding-left: 20px;
  padding-top: 5px;
}

.info h6{
  font-size: 12px;
}

.sns a i{
  color: #EDECF4;
}
